
<div class="u-center-h">
		<div>
			<div class="u-spacer-rem">
				<img src="../assets/icons/logo/You're_IT_Logo.png" alt="You're IT" class="a-logo-it">
			</div>
		</div>
		<div class="u-center-h">
			<p class="a-text-title u-spacer-l">game name:</p>
			<input type="text" class="a-input" id="joinInputField">
			<p class="a-text-title u-spacer-xxl" id="btnJoin">join</p>
			<p class="a-text-title">{{routerLink "startscherm" "Back" }}</p>
		</div>
</div>

