
	<div class="u-center-h">
		<div class="u-spacer-rem">
			<img src="../assets/icons/logo/You're_IT_Logo.png" alt="You're IT" class="a-logo-it">
		</div>
		<div class="u-center-h">
			<p class="a-text-small u-spacer-l a-text-center" id="gamename"></p>
			<p class="a-text-small u-spacer-l a-text-center" id="playersUl"></p>
			<p class="a-text-title u-spacer-l a-text-center">Waiting<br> for <br> other <br> players <br> ...</p>
			<button class="a-text-title u-spacer-xl" id="LobbyStartBtn">Start Game</button>
            <button class="a-text-title u-spacer-l" id="LobbyLeaveBtn">Leave Lobby</button>
			
		</div>
	</div>

