<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>

</head>

<body>
    <div class="u-center-h">
        <div>
            <div class="u-spacer-rem">
                <img src="../assets/icons/logo/You're_IT_Logo.png" alt="You're IT" class="a-logo-it">
            </div>
        </div>
        <div class="u-center-h">
            <p class="a-text-title u-spacer-l">E-mail</p>
            <input type="text" class="a-input" id="emailLogin">
            <p class="a-text-title u-spacer-l" id="">Password</p>
            <input type="text" class="a-input" name="" id="passwordLogin">
            
        </div>
        <div class="u-spacer-l u-center-h">
            <button class="a-btn-text u-spacer-l" id="loginBtn">Login</button>
			<p class="a-text-title u-spacer-l">{{routerLink "register" "register"}}</p>
        </div>
    </div>

</body>

</html>