<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rules</title>

</head>

<body>
    <div class="u-center-h">
        <div class="u-spacer-rem">
            <div>
                <img src="../assets/icons/logo/You're_IT_Logo.png" alt="You're IT" class="a-logo-it">
            </div>
        </div>
        <div>
            <p class="a-text-title u-spacer-l u-center-h">Rules:</p>
            <li class="a-text-small a-li u-spacer-s">Listen to the rules</li>
            <li class="a-text-small a-li u-spacer-s">Don’t break the rules</li>
            <li class="a-text-small a-li u-spacer-s">Have fun</li>
            <li class="a-text-small a-li u-spacer-s">Don’t leave the game area</li>
            <li class="a-text-small a-li u-spacer-s">The score is the amount of seconds you’re not IT.</li>
            <li class="a-text-small a-li u-spacer-s">If you’re IT the score is counted by the amount of people you tag.</li>
            <li class="a-text-small a-li u-spacer-s">If the tagger comes within 4 metres then You're IT</li>
			<button id="backToLobbyBtn" class="a-text-title u-spacer-l u-center-h">Lobby</button>
        </div>
    </div>

</body>

</html>