<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Startscherm</title>

</head>

<body>
	<div class="u-center-h">
		<div class="u-spacer-rem">
			<img src="../assets/icons/logo/You're_IT_Logo.png" alt="You're IT" class="a-logo-it">
		</div>
		<div class="u-center-h">
			<p class="a-text-title u-spacer-l">{{routerLink "startgame" "start game" }}</p>
			<p class="a-text-title u-spacer-l">Scoreboard</p>
			<p class="a-text-title u-spacer-l">{{routerLink "joinGame" "Join Game"}}</p>
			<p class="a-text-title u-spacer-l">{{routerLink "rules" "rules"}}</p>
			<button class="a-text-title u-spacer-l" id="logoutBtn">Logout</button>
		</div>
	</div>

</body>

</html>