<body>
	<div class="u-center-h">
		<div class="u-spacer-rem">
			<img src="../assets/icons/logo/You're_IT_EsQ.png" alt="You're IT" class="a-logo-it">
		</div>
		<div class="u-center-h">
            <button class="a-text-title u-spacer-l" id="logoutBtn">Startscherm</button>
			<button class="a-text-title u-spacer-l" id="logoutBtn">Logout</button>
		</div>
	</div>

</body>